.row
  = simple_form_for(model, url: users_path, as: :user) do |f|
    .row
      .col-sm-12
        = f.input :email
    .row
      .col-sm-12
        = f.input :first_name
    .row
      .col-sm-12
        = f.input :last_name
    .row
      .col-sm-12
        = f.input :password
    .row
      .col-sm-12
        = f.button :submit, 'Create user'