= link_to "Reload", root_path, class: 'btn btn-info'
.row
  = cell(Conversation::Cell::UnreadData, unread_data, current_user: current_user)
%br
.row
  %h3= 'Users'
  .column
    %table.table
      %tbody
        - model.each do |user|
          %tr
            = cell(User::Cell::Show, user, current_user: current_user)
:javascript
  function log_reload_message(){
      console.log('Totally not acceptable as a solution( I should have done the reload with something like faye or action cable, but unfortunately i ran out of time.')
  };

  $(document).ready(function(){
    log_reload_message()
    var ten_minutes_in_milisec = 600000;
    setTimeout(function(){
        window.location.reload(1);
        log_reload_message()
    }, ten_minutes_in_milisec);
  })