.row
  = simple_form_for(model, url: user_path, as: :user) do |f|
    .row
      .col-sm-12
        = f.input :first_name
    .row
      .col-sm-12
        = f.input :last_name
    .row
      .col-sm-12
        = f.input :password
    .row
      .col-sm-12
        = f.input :confirm_password
    .row
      .col-sm-12
        = f.input :current_password
    = f.input :id, as: :hidden, input_html: { value: params[:id] }
    .row
      .col-sm-12
        = f.button :submit, 'Update profile'