.row.col-md-offset-3.col-md-6
  = simple_form_for(model, url: messages_path, as: :message) do |f|
    .row
      .col-sm-12
        = f.label :message
        = f.input :body, as: :text, label: false
      = f.input :conversation_id, as: :hidden, input_html: { value: conversation_id }
    .row
      .col-sm-12
        = f.button :submit, 'Send'