.row.sign_in
  = simple_form_for(model, url: sessions_sign_in_path, as: :session) do |f|
    .row
      .col-sm-12
        = f.input :email
    .row
      .col-sm-12
        = f.input :password
    .row
      .col-sm-12
        = f.button :submit, 'Log in'