.row.new
  %h1 Come join us!
  = simple_form_for(model, url: sessions_sign_up_path) do |f|
    .row
      .col-sm-12
        = f.input :email
    .row
      .col-sm-12
        = f.input :password
    .row
      .col-sm-12
        = f.input :confirm_password
    = f.button :submit, "Sign up!"