.row.col-md-offset-3.col-md-6
  - model.each do |conversation|
    %div
      %a{ href: conversation_path(conversation) }
        .alert.alert-info
          %h5= "Received from #{email_of_receiver(conversation)}"
          - conversation.messages.each do |message|
            %p= message.body
            %br