.col-md-offset-1
  = link_to "Reload", conversation_path(model.id), class: 'btn btn-info'
  = link_to 'Back', users_path
  %h4= 'Messages history'
= cell(Message::Cell::Index, model, 'current_user_id' => current_user_id)
= cell(Message::Cell::CreateForm, message_model, 'conversation_id' => conversation_id)