- if tyrant.signed_in?
  %li.nav-item
    = link_to "Hi, #{tyrant.current_user.email}", '#', class: 'nav-link fload-md-right'
  %li.nav-item
    = link_to "Sign out", sessions_sign_out_path, class: 'nav-link fload-md-right'
- else
  %li.nav-item
    = link_to "Sign in", sessions_sign_in_form_path, class: 'nav-link fload-md-right'
  %li.nav-item
    = link_to "Sign up", sessions_sign_up_form_path, class: 'nav-link fload-md-right'