!!!
%html
  %head
    %title Myapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container{style: "margin-top: 2em"}
        =# render 'layouts/messages'
        = yield